.MainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-balls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &:before {
    background-color: black;
    right: -75px;
    bottom: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      right: -110px;
      bottom: -110px;
    }
  }

  &:after {
    background-color: black;
    top: -75px;
    left: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      top: -110px;
      left: -110px;
    }
  }
}

.footer {
  height: 5vh;
  padding-top: 3vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #64c9cf;
  color: white;
  text-align: center;
}
